@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --clr-neutral-900: #0c0c0c;
    --clr-neutral-100: white;
}

html {
    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    font-family: 'Roboto Mono', 'Courier New', monospace;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: var(--clr-neutral-900);
}

h1::before {
    content: '> ';
}

h2::before {
    content: '~/ ';
}

header,
section {
    min-height: 100dvh;
    background-color: var(--clr-neutral-100);
    padding: 4rem;
}

#apresentacao {
    background: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
}

#apresentacao h1 {
    font-size: clamp(2.5rem, 6vw, 3.5rem);
    padding: .5rem;
    min-width: 20ex;
    pointer-events: none;
}

#apresentacao ul {
    font-size: 1.5rem;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: .3rem;
}

a[data-external] {
    display: inline-flex;
    /* gap: .5em; */
}

a[data-external]::after,
a[data-external]::before {
    opacity: 0;
    transition: all 300ms;
}

a[data-external]::after {
    content: '>';
    transform: translateX(-15px);
    color: currentColor;
}

a[data-external]::before {
    content: '<';
    transform: translateX(15px);
    color: currentColor;
}

a[data-external]:hover::before,
a[data-external]:hover::after {
    opacity: 1;
    transform: translateX(0px);
}


h2 {
    width: 100%;
    height: min-content;
}

#projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cards {
    display: grid;
    grid-template-columns: minmax(300px, 25vw) minmax(300px, 25vw);
    place-self: first baseline;
}

.card {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1.618;
    color: #0c0c0c;
}

.card ul {
    list-style-type: none;
    margin-top: auto;
    font-size: small;
}

.card li {
    display: inline;
}

.card--more {
    place-content: center;
    align-items: center;

    a {
        text-decoration: underline;
    }
}


.card:is(:nth-child(2), :nth-child(3)) {
    background: var(--clr-neutral-900);
    color: white;
}

.caret {
    pointer-events: none;
    animation: caret var(--caret-duration, 800ms) infinite;
}

#experiencia {
    display: flex;
    flex-wrap: wrap;
}

.profile {
    place-self: center;
    justify-self: center;
    margin-bottom: auto;
    width: clamp(0px, 100%, 40rem);
    margin-inline: auto;
    text-justify: distribute;
}

.profile img {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: .3rem solid var(--clr-neutral-900);
    display: block;
    margin-inline: auto;
    margin-bottom: 1rem;
}


@keyframes caret {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

}

@media screen and (max-width: 740px) {
    #cards {
        grid-template-columns: auto;
    }

    .card:is(:nth-child(even)) {
        background: var(--clr-neutral-900);
        color: var(--clr-neutral-100);
    }

    .card:is(:nth-child(odd)) {
        background: white;
        color: var(--clr-neutral-900);
    }
}

@media screen and (max-width: 550px) {
    #apresentacao h1 {
        min-width: 100%;
    }

}

@media (prefers-reduced-motion) {
    .caret {
        display: none;
        animation: none;
    }
}